{% extends "base.html.twig" %}

{% block title %}Session{% endblock %}

{% block body %}
    <h1>Session</h1>

    {# Print out session data for debugging #}
    <pre>{{ dump(sessionData) }}</pre>

    {# Link to delete session #}
    <a href="{{ path('delete_session') }}">Delete Session</a>

    {# Display flash messages #}
    {% for label, messages in app.flashes %}
        {% for message in messages %}
            <div class="flash-{{ label }}">
                {{ message }}
            </div>
        {% endfor %}
    {% endfor %}
{% endblock %}
