{% extends "base.html.twig" %}

{% block title %}Sorted Cards{% endblock %}

{% block body %}
    <h1>Sorted Deck of Cards</h1>
    <div>
        <p>
            <a href="{{ path('card_game') }}">Back</a>
        </p>
    </div>
    <div class="card-container">
        {% set count = 0 %}
        {% for card in cards %}
            {% if count % 13 == 0 %}
                {% if count > 0 %}
                    </div>
                {% endif %}
                <div class="card-row">
            {% endif %}
            <span class="card">{{ card.getGraphicRepresentation }}</span>
            {% set count = count + 1 %}
        {% endfor %}
    </div>
    
{% endblock %}
