{% extends "base.html.twig" %}

{% block title %}About{% endblock %}

{% block body %}
    <div class="row">
        <div class="col-md-6">
            <h1>Objektorienterade webbteknologier, MVC</h1>
            <p>This course covers object-oriented programming in PHP, exploring language constructs, concepts, and simple design patterns. Furthermore, it addresses SQL integration with databases using PHP Data Objects and the development of web applications within a framework, integrating technologies such as web servers, PHP, HTML, CSS, and SQL. Moreover, it focuses on the utilization of tools and techniques suitable for web application development, such as UNIX/Linux, installation on external web servers, SSH, FTP/SFTP, and database clients like PHPMyAdmin and MySQL Workbench. The goal of this course is to gain the knowledge and skills to apply object-oriented programming through practical exercises and projects, independently develop and deploy web applications, and handle tools and environments used in the development of database-driven web applications within a framework for web development.</p>
        </div>
        <div class="col-md-6">
            <h2>Useful Links</h2>
            <ul>
                <li><a href="https://github.com/dbwebb-se/mvc">Course Git Repository</a></li>
                <li><a href="https://github.com/vukdhub/mvc/tree/master">My GitHub Repository</a></li>
            </ul>
        </div>
    </div>
{% endblock %}
