{% extends "base.html.twig" %}

{% block title %}Me{% endblock %}

{% block body %}
    <h1>Me</h1>
    <p>Hello, welcome to my webpage. My name is Vuk. I'm a web-developer student.</p>
    <p>
        <img src="{{ asset('img/mepic.jpg') }}" alt="My Picture" id="mypic">
    </p>
{% endblock %}